<div class="container">
  <div class="row" style="margin-top:7em">
    <div class="col-lg-12">
        <%= bootstrap_flash %>
        <h2>Sign in</h2>

        <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {'role' => 'form'}) do |f| %>
          <div class="form-group">
            <%= f.label :email, :for => 'user[email]' %>
            <%= f.email_field :email, :autofocus => true, :class => 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :password, :for => 'user[password]' %>
            <%= f.password_field :password, :class => 'form-control' %>
          </div>

          <div class="form-group">
            <% if devise_mapping.rememberable? -%>
              <div class="form-inline"<%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
            <% end -%>
          </div>
          <%= f.submit "Sign in", :class => 'btn btn-default' %>
        <% end %>
      </div>
    </div>

    <div class="row" style="margin-top:1em">
      <div class="col-lg-12">
        <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
