<div id="watches">
	<div class="watches-container">	
        <% if current_user %>
          <% current_user.watches.each do |watch| %>
              <div class="item">
                <div class="col-md-3">
                  <img src="assets/<%= watch.restaurant.img_name %>" class="pull-left thumb-rest-img">
                </div>
                <div class="col-md-9">
                  <h4><%= watch.restaurant.name %></h4>
                  <span class="description"><%= watch.search_time.name %> for <%= watch.party_size %></span><b>•</b>
                  <time><%= watch.search_start_date.strftime('%m/%d/%Y') %></time><b>–</b><time><%= watch.search_end_date.strftime('%m/%d/%Y') %></time>
                  <div class="buttons">
                    <a href="<%= edit_watch_path(watch) %>"><i class="fa fa-pencil-square-o"></i>Edit</a>
                    <a href="<%= url_for(controller: :venues, action: :show_info, slug: watch.restaurant.slug) %>"><i class="fa fa-times-circle"></i>Remove</a>
                  </div>
                </div>
              </div>
          <% end %>
        <% end %>
	</div>
</div>